<div id="display_movies">
<% @matches.each do |movie| -%>
<%= link_to movie_seens_path(:movie_id => movie.id) do -%>

<h3><%= movie.name_of_japan %></h3>
<p><%= truncate(movie[:outline], :length => 56) %></p>

<p class="actions<% unless movie.stories.count > 0 %> finish<% end %>">
<%= link_to "/movie/#{movie[:id]}/seens/new" do %><%= linksym.html_safe %><span>見た<% if 0 < movie.seen_users.count %>(<%= movie.seen_users.count %>)<% end %></span><% end %>
<%= link_to movie_wish_new_path movie[:id] do %><%= linksym.html_safe %><span>見たい<% if 0 < movie.wish_users.count %>(<%= movie.wish_users.count %>)<% end %></span><% end %>
</p>

<% if movie.stories.count > 0 -%>
<p class="emphasis">特集記事</p>
<ul class="finish list">
<% movie.stories.each do |story| -%>
<li><%= link_to post_story_path(story) do -%><%= linksym.html_safe %><%= story.title -%><% end %></li>
<% end -%>
</ul>
<% end -%>

<% end -%>
<% end -%>
</div>
