<p id="notice"><%= notice %></p>

<table>
  <tr style="border: 1px #cccccc solid;">
    <td style="padding: 2px;"><%= @movie.id %></td>
    <td style="padding: 2px;">
      <div><%= @movie.name_of_original %></div>
      <div><%= @movie.name_of_japan %></div>
      <div><%= @movie.name_of_japan_kana %></div>
      <div><%= @movie.name_of_english %></div>
    </td>
    <td style="padding: 2px;"><%= @movie.image %></td>
    <td style="padding: 2px;"><%= @movie.show_time %></td>
    <td style="padding: 2px;"><%= @movie.open_date %></td>
    <td style="padding: 2px;"><%= simple_format @movie.regions.map{|label|label.element.title}.join("\n") %></td>
    <td style="padding: 2px;"><%= @movie.negative %></td>
    <td style="padding: 2px;">
      <div><%= link_to 'Edit Movie',     edit_movie_path(@movie) %></div>
      <div><%= link_to 'Back', movies_path %></div>
    </td>
  </tr>
  <tr style="border: 1px #cccccc solid;">
    <td colspan="8" style="padding: 2px;"><%= simple_format @movie.outline %></td>
  </tr>
  <tr style="border: 1px #cccccc solid;">
    <td colspan="8" style="padding: 2px;"><%= image_tag @movie.image %></td>
  </tr>
</table>

