<div id="narrow_items">
<%= link_to ranking_movie_path do -%>
<span class="narrow_items_type<% if action_name == 'movie' %>_selected<% end %>">見た映画</span>
<% end -%>
<%= link_to ranking_seen_path do -%>
<span class="narrow_items_type<% if action_name == 'seen' %>_selected<% end %>">見た人</span>
<% end -%>
<%= link_to ranking_star_path do -%>
<span class="narrow_items_type<% if action_name == 'star' %>_selected<% end %>"><%= image_tag('layout/stars_on.png') %></span>
<% end -%>
<%= link_to ranking_wish_path do -%>
<span class="narrow_items_type<% if action_name == 'wish' %>_selected<% end %>">見たい</span>
<% end -%>
<%= link_to ranking_cinema_path do -%>
<span class="narrow_items_type<% if action_name == 'cinema' %>_selected<% end %>">映画館</span>
<% end -%>
</div>

