<div id="narrow_rank">
<ul>
<li><%= link_to ranking_movie_path do -%>
<dt><%= image_tag('layout/movie.png', :size => '20x20') %></dt>
<dd>
<span class="narrow_items_type<% if action_name == 'movie' %>_selected<% end %>">Movie</span>
</dd>
<% end -%>
</li>
<li>
<%= link_to ranking_seen_path do -%>
<dt><%= image_tag('layout/audience.png', :size => '20x20') %></dt>
<dd>
<span class="narrow_items_type<% if action_name == 'seen' %>_selected<% end %>">Audience</span>
</dd>
<% end -%>
</li>
<li>
<%= link_to ranking_star_path do -%>
<dt><%= image_tag('layout/star.png', :size => '20x20') %></dt>
<dd>
<span class="narrow_items_type<% if action_name == 'star' %>_selected<% end %>">Favorite</span>
</dd>
<% end -%>
</li>
<li>
<%= link_to ranking_wish_path do -%>
<dt><%= image_tag('layout/heart.png', :size => '20x20') %></dt>
<dd>
<span class="narrow_items_type<% if action_name == 'wish' %>_selected<% end %>">Wish</span>
</dd>
<% end -%>
</li>
<li>
<%= link_to ranking_cinema_path do -%>
<dt><%= image_tag('layout/theater.png', :size => '20x20') %></dt>
<dd>
<span class="narrow_items_type<% if action_name == 'cinema' %>_selected<% end %>">Theater</span>
</dd>
<% end -%>
</li>
</ul>
</div>

<% if Rails.env == 'production' -%>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-1453758758198931";
/* ランキング：上 */
google_ad_slot = "3597653490";
google_ad_width = 320;
google_ad_height = 50;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<% end -%>
