<% if @movie.stories.count > 0 -%>
<h3 class="story">特集記事</h3>
<ul class="list finish">
<% @movie.stories.order('release_at DESC').each do |story| -%>
<%= link_to post_story_path story do %><li><%= linksym.html_safe %><%= story.title %></li><% end %>
<% end -%>
</ul>
<% end -%>

<% if @broadcast -%>
<h3>映画を見よう</h3>
<ul class="list finish">
<%= link_to movie_seens_path @broadcast.movie do -%>
<li><%= linksym.html_safe %><%= display_boradcast_time(@broadcast.onair_at).html_safe -%>&nbsp;<%= @broadcast.program %>(<%= @broadcast.provider %>)</li>
<% end -%>
</ul>
<% end -%>

<div id="movie_detail">
<ul class="info">
<li><span>公開：<%= @movie.open_date.strftime('%Y') %>年&nbsp;<span><%= @movie.category_tag.map{|tag| tag.name}.join(',') %></span>&nbsp;<%= @movie.show_time %>分</span></li>
</ul>

<div class="story">あらすじ</div>
<div class="movie_outline"><%= @movie.outline %></div>

<% if Rails.env == 'production' && action_name == 'index' -%>
<% if @author.googlist? -%>
<div id="google_plus_setup">
<g:plusone size="medium" href="<%= request.url %>"></g:plusone>
</div>
<% end -%>
<% if @author.facebooker? -%>
<div class="fb-like" data-href="<%= request.protocol %><%= request.host %><%= request.path %>" data-send="false" data-layout="button_count" data-width="350" data-show-faces="false" data-font="lucida grande"></div>
<% end -%>
<% end -%>

</div>

