<div id="movie_detail">
<ul class="info">
<li><span>公開：<%= @movie.open_date.strftime('%Y') %>年&nbsp;上映時間：<%= @movie.show_time %>分</span></li>
</ul>

<% if @movie.stories.count > 0 -%>
<div class="story">特集記事</div>
<ul class="info">
<% @movie.stories.order('release_at DESC').each do |story| -%>
<li><%= link_to post_story_path story do %><%= linksym.html_safe %><%= story.title %><% end %></li>
<% end -%>
</ul>
<% end -%>

<div class="story">あらすじ</div>
<div class="movie_outline"><%= @movie.outline %></div>

<% if Rails.env == 'production' && action_name == 'index' -%>
<% if @author.googlist? -%>
<div id="google_plus_setup">
<g:plusone size="medium" href="<%= request.url %>"></g:plusone>
</div>
<% end -%>
<% if @author.facebooker? -%>
<div class="fb-like" data-href="<%= request.protocol %><%= request.host %><%= request.path %>" data-send="false" data-layout="button_count" data-width="350" data-show-faces="false" data-font="lucida grande"></div>
<% end -%>
<% end -%>

</div>

