<h1><%= @movie.name_of_japan %></h1>
<% title_undepulicated(@movie).each do |title| -%>
<h3><%= title %></h3>
<% end -%>

<% unless flash[:notice].blank? -%>
<div class="active_tile"><%= flash[:notice] %></div>
<% end -%>
<%= render 'movie_ranking' -%>
<%= render 'movie' -%>

<%= render 'affiliate' -%>

<div id="movie_seens">
<regist_movie class="action active_tile">
<%= link_to 'この映画を見た', new_movie_seen_path %>
</regist_movie>
<wish class="action active_tile">
<% if @has_wishlist -%>
<%= link_to '見たい映画を外す', movie_wish_delete_path(@movie.id) -%>
<% else -%>
<%= link_to 'この映画が見たい', movie_wish_new_path(@movie.id) -%>
<% end -%>
</wish>
</div>

<div id="narrow_items">
<%= link_to movie_seens_path(:movie_id => @movie.id) do -%>
<all class="narrow_items_type<% unless ['star', 'seen', 'wish'].include?(params[:narrow]) %>_selected<% end %>">全て(<%= @activity[:all] %>)</all>
<% end -%>
<%= link_to movie_seens_path(:movie_id => @movie.id, :narrow => 'star') do -%>
<star class="narrow_items_type<% if params[:narrow] == "star"%>_selected<% end %>"><%= image_tag('layout/stars_on.png', :alt => 'お気に入りの映画') %>(<%= @activity[:stars] %>)</star>
<% end -%>
<%= link_to movie_seens_path(:movie_id => @movie.id, :narrow => 'seen') do -%>
<seen class="narrow_items_type<% if params[:narrow] == "seen"%>_selected<% end %>"><%= image_tag('layout/stars_off.png', :alt => '見たことがある映画') %>(<%= @activity[:all] - @activity[:stars] %>)</seen>
<% end -%>
<%= link_to movie_seens_path(:movie_id => @movie.id, :narrow => 'wish') do -%>
<wish class="narrow_items_type<% if params[:narrow] == "wish"%>_selected<% end %>">見たい(<%= @activity[:wishes] %>)</wish>
<% end -%>
</div>

<% if @seens.count < 1 %><p>この映画はまだ誰も見ていません。</p><% end -%>

<% @seens.each do |seen| -%>
<%= render :partial => 'layouts/view_seener', :locals => {:seen => seen, :author => @author} -%>
<% end %>

