<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="field">
    <li>タイトル：<%= f.text_field :title %></li>
    <li><%= f.text_area :contents, :size => '60x16' %></li>
    <li><%= f.hidden_field :author_id, :value => @author.id %></li>
    <li><%= f.datetime_select :release_at %></li>
    <li><%= f.check_box :negative %></li>
  </ul>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
