<navi>
<h1><%= image_tag 'layout/logo_40.png', :size => '40x40' %>映画を登録するにはログインが必要です。</h1>
<div id="login_service">
<div><h2>あなたがいつも使っているサービスを選んでください。</h2></div>
<ul>
<li><%= link_to image_tag("layout/login_facebook.png"), login_path(:provider => 'facebook',      :origin => @return_url) %></li>
<li><%= link_to image_tag("layout/login_google.png"),   login_path(:provider => 'google_oauth2', :origin => @return_url) %></li>
<li><%= link_to image_tag("layout/login_twitter.png"),  login_path(:provider => 'twitter',       :origin => @return_url) %></li>
</ul>
</div>
</navi>

<section>
<%= link_to about_path do -%>
<h2><%= linksym.html_safe %>このサービスで出来ることは？</h2>
<h3>見た映画を記録することが出来ます。</h3>
<h3>見たい映画をメモできます。</h3>
<h3>ログインをするには。</h3>
<h3>お問い合わせ・ご要望について。</h3>
<h3>その他</h3>
<% end -%>
</section>
