<navi>
<h1>見た映画は記録しよう！</h1>
</navi>

<section>
<h2>このサービスで出来ることは？</h2>

<h3>見た映画を記録することが出来ます。</h3>
<p>
年間に何本も映画を見る人はたくさんいますが、どの映画をいつ見たかを覚えている人はほとんどいないと思います。せっかく見た映画です。記録しておきましょう。また、映画は見る場所も様々です。自宅でテレビで見たり、映画感で見たり。映画の印象には見る場所や年齢が大きく左右します。見た場所も同時に記録しておきましょう。同じ映画でも見る場所・時間が変われば違う印象も持つかもしれません。
</p>

<h3>見たい映画をメモできます。</h3>
<p>
友人に教えてもらったり、歩いている時ふと思いついたり、見たい映画はいろんなところで浮かんできます。ただ、見たい映画は結構すぐに忘れてしまい、思い出すのに時間がかかるか、または２度と思い出せないことになるかもしれません。思いついた時に簡単にメモできることが重要です。見たい映画は気軽にどんどんメモすることをおすすめします。
</p>

<h3>ログインをするには。</h3>
<p>
サービスを使うためには基本的にログインする必要があります。ログインするにあたって「Facebook」「Google」「Twitter」のいずれかのアカウントを取得しましょう。すでにアカウントをお持ちの方はいつも使っているそのアカウントでログインしてください。
<ul class="login">
<li><%= link_to 'Facebookアカウントをお持ちの方はこちら', '/auth/facebook' %></li>
<li><%= link_to 'Googleアカウントをお持ちの方はこちら',   '/auth/google_oauth2' %></li>
<li><%= link_to 'Twitterアカウントをお持ちの方はこちら',  '/auth/twitter' %></li>
</ul>
まだ、アカウントをお持ちで無い方はいずれかのサービスからアカウントを取得後、ログインをしてください。
<ul class="login">
<li><%= link_to 'Facebookでアカウントを取得する', 'http://www.facebook.com/', :blank => '_target' %></li>
<li><%= link_to 'Googleでアカウントを取得する', 'https://accounts.google.com/ServiceLogin', :blank => '_target'  %></li>
<li><%= link_to 'Twitterでアカウントを取得する', 'https://twitter.com/', :blank => '_target' %></li>
</ul>
<note>アカウントを取得に関する注意事項は各サービスのポリシーに従ってください。</note>
</p>

<h3>お問い合わせ・ご要望について。</h3>
<p class="login">
Google+にて公式ページを用意しました。お問い合わせ・ご要望については<%= link_to 'こちら', 'https://plus.google.com/u/0/b/114587405265399791648/', :target => '_bkank' %>にてご連絡ください。
</p>

<h3>その他</h3>
<p>
このサービスはまだベータバージョンです。
</p>
</section>

<p>
<% unless @author %><%= link_to '戻る', 'login' %><% end %>
</p>
