<h2>分析</h2>
<ul class="list finish">
<li>
<span class="left emphasis">今まで見た映画</span>
<span class="right"><%= number_with_delimiter @watches.count %>件</span>
</li>
<li>
<span class="left emphasis">お気に入り映画</span>
<span class="right"><%= number_with_delimiter @watches.stars.count %>件</span>
</li>
<li>
<span class="left emphasis">見たい映画</span>
<span class="right"><%= number_with_delimiter @wishes.count %>件</span>
</li>
<li>
<span class="left emphasis">コンプリート率</span>
<span class="right"><%= "%.3f" % [(@watches.count.to_f / @movies.count) * 100] %>％</span>
</li>
<li>
<span class="left emphasis">映画を見た時間</span>
<span class="right"><%= number_with_delimiter "%.1f" % [@watches.your_times] %>日分</span>
</li>
</ul>

