<div id="search_condition">
<h1>
<% if @author.guest? -%>
<%= author_name_for_unlogin_user @star_seen, @wish_seen, @recently_seen -%>
<% else -%>
<%= image_tag(path_by_author(@my.image, @author), :size => '50x50', :alt => "#{@my.name}さんの分析ページ") %>
<%= @my.name %>
<% end -%>
</h1>
</div>
<%= render :partial => 'selecter' -%>

<%= render :partial => 'outline_analyze' -%>

<h2>鑑賞数ランキング</h2>
<ul class="list finish">
<li>
<span class="left emphasis">週間ランキング</span>
<span class="right"><%= @seens_ranks[:weekly_seen] %>位</span>
</li>
<li>
<span class="left emphasis">月間ランキング</span>
<span class="right"><%= @seens_ranks[:monthly_seen] %>位</span>
</li>
<li>
<span class="left emphasis">年間ランキング</span>
<span class="right"><%= @seens_ranks[:yearly_seen] %>位</span>
</li>
<li>
<span class="left emphasis">歴代ランキング</span>
<span class="right"><%= @seens_ranks[:all_seen] %>位</span>
</li>
</ul>

<% unless @region_tables.blank? -%>
<h2>映画の国別</h2>
<ul class="list finish">
<% @region_tables.each do |tag| -%>
<li>
<span class="left emphasis"><%= tag.name %></span>
<span class="right"><%= tag.watch_number %>件（<%= "%.1f" % [tag.watch_ratio * 100] %>％）</span>
</li>
<% end -%>
</ul>
<% end -%>

<h2>映画を見た年代別</h2>
<% count_ages(@watch_yearly).each do |age, count| -%>
<h3 class="opener_closer"><%= linksym.html_safe %><%= age %>年～<%= age + 9 %>年（<%= count %>回）</h3>
<ul class="list finish"<% unless count_ages(@watch_yearly).first.first.to_i == age %> style="display:none;<% end %>">
<% select_by_ages(@watch_yearly, age).each do |year, count| -%>
<li>
<span class="left emphasis"><%= year %>年</span>
<span class="right"><%= number_with_delimiter count %>回</span>
</li>
<% end -%>
</ul>
<% end -%>


<h2>映画の年代別</h2>
<% count_ages(@movie_yearly).each do |age, count| -%>
<h3 class="opener_closer"><%= linksym.html_safe %><%= age %>年～<%= age + 9 %>年（<%= count %>回）</h3>
<ul class="list finish"<% unless count_ages(@movie_yearly).first.first.to_i == age %> style="display:none;<% end %>">
<% select_by_ages(@movie_yearly, age).each do |year, count| -%>
<li>
<span class="left emphasis"><%= year %>年</span>
<span class="right"><%= number_with_delimiter count %>回</span>
</li>
<% end -%>
</ul>
<% end -%>
