<div id="search_condition">
<h1><%= @my.name %></h1>
</div>

<div class="outside">
<you><%= image_tag(@my.image, :size => '50x50') %></you>
<p><%= link_to my_activity_path @my.id do %>今月見た映画(<%= @monthly.all %>)<br /><span class="linkable">›</span>詳細<% end %></p>
</div>

<% unless @star_seen.blank? -%>
<%= render(:partial => 'block', :locals => {
  :block_partial    => 'layouts/seen',
  :block_link       => search_path(:search => {:narrow => :star, :author => @my.id}),
  :block_items      => @star_seen,
  :block_title      => 'お気に入りの映画',
  :block_limit      => 3
}) -%>
<% end -%>

<%= render(:partial => 'block', :locals => {
  :block_partial    => 'layouts/seen',
  :block_link       => search_path(:search => {:narrow => :wish, :author => @my.id}),
  :block_items      => @wish_seen,
  :block_title      => '見たい映画',
  :block_limit      => 3
}) -%>

<%= render(:partial => 'block', :locals => {
  :block_partial    => 'layouts/seen',
  :block_link       => search_path(:search => {:author => @my.id}),
  :block_items      => @recently_seen,
  :block_title      => '最近見た映画',
  :block_limit      => 3
}) -%>

<%= render(:partial => 'block', :locals => {
  :block_partial    => 'ranking/display',
  :block_link       => ranking_movie_path,
  :block_items      => @weekly_ranking[:weekly_movie],
  :block_title      => '最近見られている映画',
  :block_limit      => @display
}) -%>

<%= render(:partial => 'block', :locals => {
  :block_partial    => 'ranking/display',
  :block_link       => ranking_wish_path,
  :block_items      => @wishs_ranking[:wishs],
  :block_title      => '見たい映画ランキング',
  :block_limit      => @display
}) -%>

<% unless @recommend_users.blank? -%>
<div class="title_name">
<span class="title_name_main">おすすめユーザ</span>
</div>
<div class="recommend_user">
<% @recommend_users.each do |user| -%>
<%= link_to my_summary_path user[:id] do %><span class="linkable">›</span><span><%= user[:name] %>(<%= user[:approximation] %>％)</span><% end %>
<% end -%>
</div>
<% end -%>
