<% items.each do |seen| -%>
<div class="each_summary_of_recently_movie">

<%= link_to movie_seens_path(:movie_id => seen.movie.id) do -%>
<h3><% unless seen.wish? %><%= image_tag stars(seen.evaluation) %><% end %><%= seen.movie.name_of_japan %></h3>

<div class="outline">
<div><%= truncate(seen.movie.outline, :length => 56) %></div>
<% unless seen.wish? -%>
<div>
<%= seen.date.strftime('%Y/%m/%d') %>
<%= seen.acondition_tag.name %>
</div>
<% end -%>
</div>

<div class="actions">
<span>見た<% if 0 < seen.movie.seen_users.count %>(<%= seen.movie.seen_users.count %>)<% end %></span>
<span>見たい<% if 0 < seen.movie.wish_users.count %>(<%= seen.movie.wish_users.count %>)<% end %></span>
</div>

<% end -%>
</div>
<% end %>
