<%= link_to my_summary_path seen.author.id do -%>
<div class="result_of_same_movie_seener<% if seen.wish? %> with_wish<% end %> finish">

<div class="leftside">
<%= image_tag(path_by_author(seen.author.image, author), :size => '34x34') %>
</div>

<div class="rightside">
<% if author.guest? -%>
<% if seen.wish? -%>
<%= seen.date.strftime('%m月%d日') %>に「<%= seen.movie.name_of_japan %>」を見たい人さん
<% else -%>
<%= seen.date.strftime('%m月%d日') %>に「<%= seen.movie.name_of_japan %>」を見た人さん
<% end -%>
<% else -%>
<%= seen.author.name %>
<% end -%>
<div><%= image_tag(stars(seen.evaluation)) %><span><%= seen.acondition_tag.name %>&nbsp;<%= seen.date.strftime('%Y/%m/%d') %></span></div>
</div>

<% unless seen.wish? -%>
<% if seen.author.same?(author) && !(seen.wish?) -%>
<p>
<span><%= link_to '修正する', edit_movie_seen_path(seen.movie.id, seen), :class => 'active_tile edit_link' %></span>
<span><%= link_to '削除する', movie_seen_path(seen.movie.id, seen), :class => 'active_tile edit_link', confirm: 'ほんとに消す？', method: :delete %></span>
</p>
<% end -%>
<% unless seen.comment.blank? %><%= simple_format seen.comment, :class => 'comment' -%><% end -%>
<% end -%>

</div>
<% end -%>

