<%= link_to movie_seens_path element.id do -%>
<h3><%= element.name_of_japan %><% if element.stars.count > 0 %><%= image_tag('layout/stars_on.png') %><span>(<%= element.stars.count %>)</span><% end %></h3>
<p><%= truncate(element.outline, :length => 56) %></p>
<% end -%>

<p class="actions">
<%= link_to "/movie/#{element.id}/seens/new" do %><%= linksym.html_safe %><span>見た<% if element.seen_users.count > 0 %>(<%= element.seen_users.count %>)<% end %></span><% end %>
<%= link_to movie_wish_new_path element.id do %><%= linksym.html_safe %><span>見たい<% if element.wish_users.count > 0 %>(<%= element.wish_users.count %>)<% end %></span><% end %>
</p>

<p class="activity finish">
<% element.seen_users.group(:author_id).each do |seen| -%>
<%= link_to my_summary_path seen.author_id do -%>
<span><%= image_tag(path_by_author(seen.author.image, @author), :size => '32x32') %></span>
<% end -%>
<% end -%>
</p>

