<%= link_to movie_seens_path element.id do -%>
<h3><%= element.name_of_japan %><% if element.stars.count > 0 %><%= image_tag('layout/stars_on.png', :alt => 'お気に入りの映画') %><span>(<%= element.stars.count %>)</span><% end %></h3>
<p class="finish"><%= truncate(element.outline, :length => 56) %></p>
<% end -%>

