<!DOCTYPE html>
<html>
<head>
<title>映画箱<%= @page_title %></title>
<meta name="description" content="見たい映画を記録する。見た映画を記録する。思い出の映画を忘れないように履歴をメモしよう。" />
<meta name="keywords" content="見たい映画を記録する。見た映画を記録する。思い出の映画を忘れないように履歴をメモしよう。" />
<%= stylesheet_link_tag "reset", "application", controller_name %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<link href="/assets/layout/logo_300.png" rel="apple-touch-icon-precomposed">
</head>
<body>

<% if @author -%>
<div id='headline'>
<div id='headline_social_services'>
<%= image_tag 'layout/logo_40.png', :size => '18x18' %><span>映画箱</span>
<%= link_to 'https://www.facebook.com/pages/%E6%98%A0%E7%94%BB%E7%AE%B1/350658838322011', :target => '_blank' do -%>
<span class="linkable">›</span>Facebook</span>
<% end -%>
<%= link_to 'https://plus.google.com/u/0/b/114587405265399791648/', :target => '_blank' do -%>
<span class="linkable">›</span>Google Plus</span>
<% end -%>
</div>
<%= link_to my_summary_path(@author.id) do %><div id="author"><%= @author.name %></div><% end %>
<%= form_tag search_movies_path, :method => "get" do -%>
<div>
<%= link_to ranking_movie_path, :class => 'ranking_path' do %><span><span class="linkable">›</span>ランキング</span><% end %>
<span id="headline_search_trigger"><%= image_tag('layout/search.png') %></span>
</div>
<div id="headline_search">
<%= text_field_tag 'search[word]', "#{params[:search][:word] if params[:search]}", :class => "headline_search_box", :placeholder => "映画を検索！" %><%= image_submit_tag('layout/search.png') %>
</div>
<% end -%>
</div>
<% end -%>

<%= yield %>

<% if @author -%>
<div id="footerline">
<ul>
<li><%= link_to about_path do %><span class="linkable">›</span>使い方</li><% end %>
<li><%= link_to logout_path do %><span class="linkable">›</span>ログアウト</li><% end %>
</ul>
</div>
<% end -%>

<!-- g+ -->
<script type="text/javascript">
  window.___gcfg = {lang: 'ja'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34168726-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
