<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title><%= @page_title || '映画箱：見た映画を記録しよう！' %></title>
<meta name="description" content="見たい映画を記録する。見た映画を記録する。思い出の映画を忘れないように履歴をメモしよう。" />
<meta name="keywords" content="映画管理,映画記録,映画日記,見た映画,見たい映画,観た映画,観たい映画,映画箱<%= ",#{@movie.name_of_japan}" if @movie %>" />
<%= stylesheet_link_tag "reset", "application", controller_name %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<link href="/assets/layout/logo_300.png" rel="apple-touch-icon-precomposed">
<%= render :partial => 'layouts/ogp', :locals => {
  :title       => @page_title,
  :description => '映画箱：見たい映画を記録する。見た映画を記録する。思い出の映画を忘れないように履歴をメモしよう。',
  :url         => request.url,
  :app_id      => '362797203743008'
} %>
</head>
<body>

<div id='headline'>

<div id='left_line'>
<% if @author.guest? -%>
<%= image_tag(@author.image, :size => '34x34', :class => 'author_image logo') %>
<% else -%>
<%= link_to my_summary_path @author.id do %><%= image_tag(@author.image, :size => '34x34', :class => 'author_image logo') %><% end %>
<% end -%>
<%= image_tag('layout/megane.gif', :size => '34x34', :id => 'headline_search_trigger', :class => 'logo') %>
</div>
<div id='service_logo'>
<%= link_to ranking_movie_path, :id => 'to_ranking' do %><span><%= linksym.html_safe %>ランキング</span><% end %>
<%= link_to '/' do -%>
<%= image_tag 'layout/logo_40.png', :size => '34x34', :class => 'logo' %>
<% end -%>
</div>

<div id="headline_search">
<%= form_tag search_movies_path, :method => "get" do -%>
<%= linksym.html_safe %><span id='headline_search_reverse'>戻る</span>
<%= image_tag 'layout/logo_40.png', :size => '34x34', :class => 'logo' %>
<%= text_field_tag 'search[word]', "#{params[:search][:word] if params[:search]}", :class => "headline_search_box", :placeholder => "映画を検索！", :size => 16 %><%= image_submit_tag('layout/megane.gif', :width => 34, :height => 34) %>
<% end -%>
</div>

</div>

<%= yield %>

<% if @author -%>
<div id="footerline">
<ul>
<li>
<%= link_to 'https://plus.google.com/u/0/b/114587405265399791648/', :target => '_blank' do -%>
<%= linksym.html_safe %>Google Plus
<% end -%>
</li>
<li>
<%= link_to 'https://www.facebook.com/pages/%E6%98%A0%E7%94%BB%E7%AE%B1/350658838322011', :target => '_blank' do -%>
<%= linksym.html_safe %>Facebook
<% end -%>
</li>
<li><%= link_to about_path do %><%= linksym.html_safe %>使い方</li><% end %>
<% unless @author.guest? %><li><%= link_to logout_path do %><%= linksym.html_safe %>ログアウト</li><% end %><% end -%>
</ul>
</div>
<% end -%>

<!-- g+ -->
<script type="text/javascript">
  window.___gcfg = {lang: 'ja'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34168726-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
